{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About block if an account exists for this user. */}}
    {{/* TODO: remove dependency on v1 blocks. Either migrate to v2 blocks(?) or directly implement layout here. */}}
    {{ if .File }}
      {{ $widget := "blocks/v1/about.html" }}
      {{ $username := (path.Base .File.Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "wcPage" $ "wcBlock" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}

    {{/* Use the first translation if available, otherwise use the current page */}}
    {{ $canonical := . }}
    {{ if gt (len .Translations) 0 }}
      {{ $canonical = index .Translations 0 }}
    {{ end }}

    {{/* Get the author name from the canonical (English) version */}}
    {{ $authorName := $canonical.Params.name }}
    
    <!-- <h1>{{ .Title }}</h1>
    <p>Translations:</p>
    <ul>
      {{ range .Translations }}
        <li><a href="{{ .RelPermalink }}">{{ .Lang }} - {{ .Title }}</a></li>
      {{ end }}
    </ul> -->

    {{/* Get all publications */}}
    {{ $all_pubs := where .Site.Pages "Section" "publication" }}

    {{/* Filter publications by the English author name (from canonical) */}}
    {{ $query := where $all_pubs "Params.authors" $authorName }}


    <!-- {{ $query := where .Pages ".IsNode" false }} -->
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
        <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>
        <ul>
          {{ range first 5 $query }}
            <li>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>,
              {{ if .Params.publication_short }}
                <em>{{ .Params.publication_short | markdownify -}}</em>,
              {{ else if .Params.publication }}
                <em>{{ .Params.publication | markdownify -}}</em>,
              {{ end }}
              {{ .Date.Format "2006" | markdownify -}}
            </li>
          {{ end }}
        </ul>
      
        <p class="mt-2 mb-0">
          <a href="{{ "/publication" | relLangURL }}">{{ i18n "all_publications" | default "See all publications" }}</a>
        </p>
    </div>
      
    {{ end }}
  </div>
</section>

{{- end -}}
