<div class="footer-wrapper pt-3 mt-0" style="background-color: {{ site.Params.footer.background_color | default "#111" | safeCSS }};">
  <div class="container footer-inner d-flex justify-content-between align-items-start flex-wrap">
    <div class="footer-left">
      <p class="footer-contact">
        <span style="line-height: 1.5;">
          {{ i18n "footer_contact" | safeHTML }}
        </span>
      </p>
    </div>

    <div class="footer-logo">
      <img src="/images/ntua-logo-white.svg" alt="NTUA Logo">
      <!-- <img src="/images/ntua-logo-wide.png" alt="NTUA Logo"> -->
    </div>
  </div>

  <div class="container footer-bottom text-center">
    © {{ now.Year }} NTUA Biophotonics Research Group. All rights reserved.
  </div>
</div>
