{{- $taxonomy := "authors" }}
{{- if .Param $taxonomy }}
  {{- $authors := .GetTerms $taxonomy }}
  {{- $count := len $authors }}
  {{- range $index, $value := $authors }}
    {{- $authorPage := .Page }}
    {{- $enPage := $authorPage }}
    {{- if ne $authorPage.Lang "en" }}
      {{- $enTranslations := where $authorPage.Translations "Lang" "en" }}
      {{- if gt (len $enTranslations) 0 }}
        {{- $enPage = index $enTranslations 0 }}
      {{- end }}
    {{- end }}

    {{- $highlight := or ($authorPage.Params.highlight_name) ($enPage.Params.highlight_name) }}

    {{- if gt $index 0 }}
      {{- if and (eq $index (sub $count 1)) (gt $count 2) }},{{ end }}
      {{- if eq $index (sub $count 1) }} and{{ else }},{{ end }} 
    {{- end }}

    <span{{ if $highlight }} class="font-weight-bold"{{ end }}>
      {{- if $authorPage.RelPermalink }}
        <a href="{{ $authorPage.RelPermalink }}">{{ $enPage.Title }}</a>
      {{- else }}
        {{ $enPage.Title }}
      {{- end -}}
    </span>

    {{- if eq $index (sub $count 1) }}.{{ end }}

    {{- if isset $.Params "author_notes" }}
      {{- with (index $.Params.author_notes $index) }}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{ . }}"></i>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
